

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('./helpers.css');
@import url('./animations.css');
/* @import url('./MyHeader.css'); */
/* @import url('./LoginPage.css'); */
/* @import url('./debug.css'); */

.router-link-exact-active, .router-link-active {
	border-bottom: 2px solid #00d1b2 !important;
}


.price-per-night {
	font-size: 2rem; 
	font-family: Montserrat,Arial,sans-serif;
}