
/* ICONS */
/* ========== */
/* ===================================================================================== */
/* @import url('https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css'); */
/* ===================================================================================== */
/* ========== */

/* FONTS */
/* ===================================================================================== */
/* @import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap"); */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
/* ===================================================================================== */


@import url('./helpers.css');
@import url('./animations.css');
@import url('./hero.css');  
/* @import url('./login-page.css'); */
/* @import url('./debug.css'); */

.router-link-exact-active, .router-link-active {
	/* border-bottom: 2px solid #3273dc !important; */
	border-bottom: 2px solid #00d1b2 !important;
	margin-top: 2px;
}

/* a {
	color: #42b983;
} */

.price-per-night {
	font-size: 2rem; 
	/* font-family: Montserrat,Arial,sans-serif; */
}


.vueperslides__arrow
{
	
	color: rgba(255,255,255,0.5) ;
}

@media (min-width: 960px) {
	.vueperslides__arrow{
		width: 2.5em ;
	}
}

