@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-ship:before { content: "\f100"; }
.flaticon-002-barrel:before { content: "\f101"; }
.flaticon-003-fish:before { content: "\f102"; }
.flaticon-004-fish-hook:before { content: "\f103"; }
.flaticon-005-submarine:before { content: "\f104"; }
.flaticon-006-sun:before { content: "\f105"; }
.flaticon-007-dolphin:before { content: "\f106"; }
.flaticon-008-spyglass:before { content: "\f107"; }
.flaticon-009-snorkel:before { content: "\f108"; }
.flaticon-010-helm:before { content: "\f109"; }
.flaticon-011-life-jacket:before { content: "\f10a"; }
.flaticon-012-motorboat:before { content: "\f10b"; }
.flaticon-013-boat-engine:before { content: "\f10c"; }
.flaticon-014-paddles:before { content: "\f10d"; }
.flaticon-015-map:before { content: "\f10e"; }
.flaticon-016-sailor:before { content: "\f10f"; }
.flaticon-017-shirt:before { content: "\f110"; }
.flaticon-018-message-in-a-bottle:before { content: "\f111"; }
.flaticon-019-pipe:before { content: "\f112"; }
.flaticon-020-starfish:before { content: "\f113"; }
.flaticon-021-oxygen:before { content: "\f114"; }
.flaticon-022-windrose:before { content: "\f115"; }
.flaticon-023-shark:before { content: "\f116"; }
.flaticon-024-lighthouse:before { content: "\f117"; }
.flaticon-025-radar:before { content: "\f118"; }
.flaticon-026-binocular:before { content: "\f119"; }
.flaticon-027-sailboat:before { content: "\f11a"; }
.flaticon-028-captain:before { content: "\f11b"; }
.flaticon-029-hat:before { content: "\f11c"; }
.flaticon-030-seagull:before { content: "\f11d"; }
.flaticon-031-whale:before { content: "\f11e"; }
.flaticon-032-anchor:before { content: "\f11f"; }
.flaticon-033-compass:before { content: "\f120"; }
.flaticon-034-buoy:before { content: "\f121"; }
.flaticon-035-lifesaver:before { content: "\f122"; }
.flaticon-036-fishing-rod:before { content: "\f123"; }
.flaticon-037-storm:before { content: "\f124"; }
.flaticon-038-captain:before { content: "\f125"; }
.flaticon-039-boat-porthole:before { content: "\f126"; }
.flaticon-040-diving-helmet:before { content: "\f127"; }
.flaticon-041-flag-pole:before { content: "\f128"; }
.flaticon-042-fins:before { content: "\f129"; }
.flaticon-043-cleaning:before { content: "\f12a"; }
.flaticon-044-shell:before { content: "\f12b"; }
.flaticon-045-worm:before { content: "\f12c"; }
.flaticon-046-crab:before { content: "\f12d"; }
.flaticon-047-box:before { content: "\f12e"; }
.flaticon-048-bell-tower:before { content: "\f12f"; }
.flaticon-049-sailor:before { content: "\f130"; }
.flaticon-050-saber:before { content: "\f131"; }